@model  System.Collections.Generic.IEnumerable<ClassMates.Models.ClassMate>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>MY CLASSMATES</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var mate in Model)
        {
            <li>@mate.Name, Hair Color: @mate.HairColor, Height: @mate.Height</li>
        }
    </div>
</div>
